.home-header {
  display: inline-block;
  //margin: 0 -15px;
}
.home-header > h1 {
  display: inline-block;
  color: $text-color;
  font-size: 30px;
  margin: 15px 0;
  &:hover {
    color: $text-color-hover;
  }
}
.dropdown-categories {
  position: relative;
  //padding: 19px 0;
  width: 155px;
  span.dropdown-triger {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    padding: 19px 0 19px 15px;
    display: block;
    span.arrow-down {
      margin-left: 5px;
      display: inline-block;
      width: 6px;
      height: 8px;
      border-top: 6px solid $text-color;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
    }
  }
  ul {
    width: 100%;
    padding: 15px;
    text-align: left;
    list-style: none;
    position: absolute;
    z-index: 9999;
    top: 63px;
    opacity: 0;
    background: $dropdown-background;
    transition: opacity 300ms ease;
    li {
      a {
        font-family: 'Raleway', sans-serif;
        line-height: 1.6;
        font-size: 14px;
        padding: 0;
        color: $text-color;
        text-decoration: none;
      }
    }
    li:hover > a {
      color: $text-color-hover;
    }
  }
  &:hover ul {
    opacity: 1;
  }
}
.main-gallery {
  margin: 30px 0 60px 0;
}
.album-title {
  display: inline-block;
  float: left;

  div.image {
    position: relative;
    width: 294px;
    height: 294px;
    text-align: center;
    overflow: hidden;
    margin-right: 5px;
    margin-bottom: 5px;
    background: #EEEEEE;

    &:hover .album-title-hover {
      opacity: 1;
    }

    img {
      height: 100%;
      margin-left: -25%;
    }
  }
}
.album-title-hover {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  opacity: 0;
  transition: opacity 300ms ease;

  a {
    display: block;
    margin-top: 35%;
    text-decoration: none;
    color: white;
    font-size: 28px;
  }

  span {
    margin-top: 20px;
    display: block;
    color: white;
    font-size: 22px;
    cursor: default;
  }
}