.slider {
  text-align: center;
  position: relative;
  width: 900px;
  height: 600px;
  margin-bottom: 50px;

  .slide {
    width: 900px;
    height: 600px;
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    background: $dropdown-background;

    .image {
      height: 600px;
    }
  }
}