
// Fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700&subset=cyrillic-ext,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700');
@import url('https://fonts.googleapis.com/css?family=Hind+Guntur:300,400,500,600,700|Roboto+Condensed');

// Variables
@import "variables";

// Bootstrap
@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

html, body, h1, h2, h3, h4, h5, h6, a, button {
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
p, span, label, input, select, td, th {
  font-family: 'Open Sans Condensed', sans-serif;
}
input.btn {
  font-weight: bold;
}
body {
  background-color: #FFFFFF;
}

.content {
  width: 100%;
  height: 100%;
  position: relative;
  padding: 0 200px 0 210px;
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .content {
    padding-right: 20px;
  }
}
@media screen and (min-width: 992px) and (max-width: 1024px) {
  .content {
    padding-right: 50px;
  }
}

/**-----------------Navigation Menu-------------------**/

@import "navMenu";

/**--------------End of Navigation menu---------------**/

/**---------------------Home Page---------------------**/

@import 'homePage';

/**-----------------End of Home Page------------------**/

/**----------------Create album page------------------**/

@import 'createAlbum';

/**-------------End of Create album page--------------**/

/**------------------------Authorisation------------------------**/
ul.navbar-nav {
  padding: 0;
  position: absolute;
  right: 15px;
}
li.dropdown > a {
  color: $text-color;
  padding: 10px 20px;
  min-width: 160px;
  line-height: 1.6;
  text-align: right;
  &:hover {
    background: transparent;
    color: $text-color-hover;
  }
}
.nav .open > a:focus {
  background: transparent;
  border-right: 1px solid RGBA(0,0,0,0.15);
  border-left: 1px solid RGBA(0,0,0,0.15);
}
ul.dropdown-menu > li > a {
  color: $text-color;
  text-align: right;
  &:hover {
    color: $text-color-hover;
    background: transparent;
  }
}
/**--------------------End of Authorisation----------------------**/


